*{
    
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
html{
    height: 100%;
}

body {
    
    display: flex;
    flex-direction:column;
    height: 100%;

}
header{
    hei;
    width: 100%;
    font-size: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content:space-around ;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(90.0deg, #db81f7 17.54%, #7f7ff3 54.55% ,#fbaacd 72.31% );
    text-align: center;   
    height: 50px;
    
}
header h1{
    padding-right: 10px;
}
#btns{
<<<<<<< HEAD
    width: 280px;   
=======
    width: 650px;
    height: 60px;    
    display: flex;
    flex-direction: row;
>>>>>>> 69c5d7031c8335779d91604ff340edc25b37ef36
    align-items: center;
    justify-content: space-around;
}
#executar{
    height: 30px;
    width: 80px;
    background: #5c48f3c3 ;    
    font-size: 15px;
    
    margin-right: 3px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer; 

}
#voltarPagina{
    height: 30px;
    width: 80px;
    background: #5c48f3c3 ;    
    font-size: 15px;
    margin-right: 3px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    
}
#limparCampo{
    height: 30px;
    width: 80px;
    background: #5c48f3c3 ;    
    font-size: 15px;
    margin-right: 3px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(241.29deg, #938f97 10.31%, #1a1919 93.41%)
}
.campoNome{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%; 
}

#card{
    height: 100%;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content:space-around ;
    flex-direction: row;
}
#texthtml{
    background-color: rgba(26, 32, 26, 0.411);
    color: white;
    width: 500px;
    height: 450px;
    font-size: 30px;
}
#textjs{
    background-color: rgba(26, 32, 26, 0.411);
    color: white;
    width: 500px;
    height: 450px;
    font-size: 30px;

}
#inserirhtml{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inserirhtml h1{
    font-size: 15px;
    color: #ffffff;
}
#inserirjs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inserirjs h1{
    font-size: 15px;
    color: #ffffff;
}

